# %STEM%.%EXT%

See also: the [Groovy version](https://egonw.github.io/cdkbook/code/%STEM%.code)

## Source code

```%SYNTAX%
from scyjava import config, jimport
config.add_endpoints('org.openscience.cdk:cdk-bundle:2.9')

%SOURCECODE%
```

%OPEN%

## Output

```plain
%OUT%
```
